form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
}

.error{
    color:#A7171A;
}
.navigateLinks{
    display: inline-block;
    text-align: justify;
}
a{
    text-decoration: underline;
    color: inherit;
}
