header{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
}
header a{
    text-decoration:none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 1.5rem;
}
.logo:hover{
    color: inherit;
}
header nav{
    display:flex;
    gap: 24px;
}
main{
    padding: 10px;
    max-width: 1260px;
    margin: 0 auto;
}
.pop-up-link{
    margin-right: 15px;
    text-decoration: none;

}
.cat-box{
    background-color: #fdfbfb;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}